h1{
    color: hotpink;
}

body{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.button__frames--hotpink{
    width: 144px;
    height: 42px;
    background-color: hotpink;
    color: white;
    margin: 20px;
    border-radius: 18px;
    cursor:pointer;
    border: none;
}

/* Cada que pasa el cursor por ensima del boton */
.button__frames--hotpink:hover{
    animation-name: example;
    animation-duration: 5s;
}

/* Esta parte controla la duración de la animación y la controla */
@keyframes example {
    0% {background-color: blue;}
    25% {background-color: red;}
    50% {background-color: yellow;}
    75% {background-color: green;}
    100% {background-color: purple;}

}

.div__2Dtrasnforms > .button{
    margin: 30px;
    border: none;
    width: 180px;
    border-radius: 15px 0px 15px 0px;
    height: 40px;
    color: white;
    cursor: pointer;
}

.button__linear--blue{
    background-color: blue;
    transition-timing-function: linear;
}

.button__linear--blue:hover{
    width: 240px;
}

.button__ease-in--green{
    background-color: green;
    transition-timing-function: ease-in;
}

.button__ease-in--green:hover{
    width: 240px;
}

.button__ease--hotpink{
    background-color: hotpink;
    transition-timing-function: ease;
}

.button__ease--hotpink:hover{
    width: 240px;
}

.button__ease-out--yellow{
    background-color: yellow;
    color:black;
    transition-timing-function: ease-out;
}

.button__ease-out--yellow{
    width: 240px;
}

/* Establece cada que el view port esté a los "x" pixeles establece la regla */
/* @media only screen and (max-width: 600px){
    body{
        background-color: aqua;
    }
} */

/* @media only screen and (min-width: 600px){
    body{
        background-color: turquoise;
    }
}

@media only screen and (min-width: 768px){
    body{
        background-color: greenyellow;
    }
}

@media only screen and (min-width: 992px){
    body{
        background-color: hotpink;
    }
}

@media only screen and (min-width: 1200px){
    body{
        background-color: blue;
    }
} */

.div__card--border-black{
    width: 180px;
    height: 300px;
    border: 1px solid black;
    border-radius: 10px;
}

@media only screen and (max-width:600px){
    /* Se establece por una selección por clase */
    .div__card--border-black{
        display: none;
    }
}

@media only screen and (min-widht: 768px){
    .div__card--border-black{
        background-color: hotpink;
    }
}